<div class="container main-container">
    <div class="table-responsive mt-2" *ngIf="mostrarA">
        <h2>Salas</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Sala</th>
                    <th scope="col">Evento</th>
                    <th scope="col">Actividad</th>
                    <th scope="col">Ubicación</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Editar</th>
                    <th scope="col">Eliminar</th>
                </tr>
            </thead>
            <tbody *ngFor="let sala of salas.records let i = index;">
                <tr>
                    <th *ngIf="sala.id_sala" scope="row ">{{i+1}}</th>
                    <td *ngIf="sala.id_sala">{{ sala.nombreSala }}</td>
                    <td *ngIf="sala.id_sala">{{ sala.nombreEvento }}</td>
                    <td *ngIf="sala.id_sala">{{ sala.nombreActividad }}</td>
                    <td *ngIf="sala.id_sala">{{ sala.ubicacion }}</td>
                    <ng-container *ngIf="sala.estado === 'A'; else elseTemplate">
                        <td *ngIf="sala.id_sala"><span class="badge badge-success">Activo</span></td>
                    </ng-container>
                    <ng-template #elseTemplate>
                        <td *ngIf="sala.id_sala"><span class="badge badge-danger">Inactivo</span></td>
                    </ng-template>
                    <td *ngIf="sala.id_sala"><a class="btn btn-warning" (click)="editarSala(sala.id_sala)"><i class="fas fa-edit"></i></a></td>
                    <td *ngIf="sala.id_sala"><a class="btn btn-danger" (click)="eliminarSala(sala.id_sala)"><i class="fas fa-trash"></i></a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="mt-2" *ngIf="!mostrarA">
        <div class="alert alert-warning text-center" role="alert">
            <h3>Sin salas registradas.</h3>
        </div>
    </div>
</div>