<div class="container main-container">
    <div class="alert alert-success text-center" role="alert">
        <h2>Actividad: {{activity.nombre}}</h2><br>
        <button type="button" class="btn btn-danger btn-lg btn-block" data-toggle="modal" data-target="#watchActivitie">
            Ver actividad
        </button>
    </div>
    <div class="row mb-1">
        <div class="col text-center">
            <button type="button" class="btn btn-info mr-3 m-2" (click)="return()">
                Regresar a actividades
            </button>
            <button type="button" *ngIf="!edit" class="btn btn-info m-2" (click)="editar()">
                Editar Actividad
            </button>
            <button type="button" *ngIf="edit" class="btn btn-danger m-2" (click)="noeditar()">
                Ocultar formulario de edición
            </button>
            <button type="button" class="btn btn-info ml-3 m-2" data-toggle="modal" data-target="#crearSala">
                Crear Sala
            </button>
        </div>
    </div>
    <div class="mb-5" *ngIf="edit">
        <form (ngSubmit)="updateActividad( f )" [formGroup]="forma" #f="ngForm">
            <h3>Editar Evento</h3>
            <div class="form-group">
                <label for="nombre">Nombre</label>
                <input type="text" class="form-control" id="nombre" formControlName="nombre" aria-describedby="text" placeholder="Nombre de la actividad">
                <div *ngIf="forma.controls['nombre'].errors?.required && (forma.dirty && forma.touched) " class="form-control-feedback">
                    <p style="color: red ">*Nombre campo requerido.</p>
                </div>
                <div *ngIf="forma.controls['nombre'].errors?.maxlength && forma.controls['nombre'].dirty" class="form-control-feedback ">
                    <p style="color: red ">*Maximo 30 caracteres.</p>
                </div>
            </div>
            <div class="form-group">
                <input type="hidden" class="form-control" id="nombre" formControlName="id_evento" aria-describedby="text">
            </div>
            <div class="row">
                <div class="col">
                    <label for="costo">Fecha Inicio</label>
                    <input type="text" formControlName="fecha_inicio" class="form-control" id="fecha_inicio" aria-describedby="number" placeholder="YYYY-MM-DD">
                    <div *ngIf="forma.controls['fecha_inicio'].errors?.required && (forma.dirty && forma.touched) " class="form-control-feedback">
                        <p style="color: red ">*Fecha Inicio campo requerido.</p>
                    </div>
                    <div *ngIf="forma.controls['fecha_inicio'].errors?.dateVaidator && (forma.dirty && forma.touched) " class="form-control-feedback">
                        <p style="color: red ">*Formato de fecha incorrecto. Año-Mes-Día</p>
                    </div>
                </div>
                <div class="col">
                    <label for="costo">Fecha Fin</label>
                    <input type="text" class="form-control" formControlName="fecha_fin" placeholder="YYYY-MM-DD" id="fecha_fin" aria-describedby="number">
                    <div *ngIf="forma.controls['fecha_fin'].errors?.required && (forma.dirty && forma.touched) " class="form-control-feedback">
                        <p style="color: red ">*Fecha Fin campo requerido. Año-Mes-Día</p>
                    </div>
                    <div *ngIf="forma.controls['fecha_fin'].errors?.dateVaidator && (forma.dirty && forma.touched) " class="form-control-feedback">
                        <p style="color: red ">*Formato de fecha incorrecto.</p>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="descripcion">Descripción</label>
                <textarea class="form-control" id="descripcion" formControlName="descripcion" placeholder="Descripción de la actividad" rows="2"></textarea>
                <div *ngIf="forma.controls['descripcion'].errors?.required && (forma.dirty && forma.touched)" class="form-control-feedback">
                    <p style="color: red ">*Descripción campo requerido.</p>
                </div>
                <div *ngIf="forma.controls['descripcion'].errors?.maxlength && forma.controls['descripcion'].dirty" class="form-control-feedback">
                    <p style="color: red ">*Maximo 200 caracteres.</p>
                </div>
            </div>
            <button type="submit" class="btn btn-primary" [disabled]="!forma.valid">Submit</button>
        </form>

    </div>
    <div class="table-responsive mt-2" *ngIf="mostrarS">
        <h2>Salas</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Ubicación</th>
                    <th scope="col">Status</th>
                    <th scope="col">Editar</th>
                    <th scope="col">Eliminar</th>
                </tr>
            </thead>
            <tbody *ngFor="let sala of salas.records let i = index;">
                <tr>
                    <th scope="row ">{{i+1}}</th>
                    <td>{{ sala.nombre }}</td>
                    <td>{{ sala.ubicacion }}</td>
                    <ng-container *ngIf="sala.estado === 'A'; else elseTemplate">
                        <td><span class="badge badge-success">Activo</span></td>
                    </ng-container>
                    <ng-template #elseTemplate>
                        <td><span class="badge badge-danger">Inactivo</span></td>
                    </ng-template>
                    <td><a class="btn btn-warning" (click)="editarSala(sala.id_sala)"><i class="fas fa-edit"></i></a></td>
                    <td><a class="btn btn-danger" (click)="eliminarSala(sala.id_sala)"><i class="fas fa-trash"></i></a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="mt-2" *ngIf="!mostrarS">
        <div class="alert alert-warning text-center" role="alert">
            <h3>Actividad sin salas registradas.</h3>
        </div>
    </div>

</div>

<!-- Modal watch event -->
<div class="modal fade" id="watchActivitie" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Actividad: {{activity.nombre}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body text-center text-justify">
                <p><b>Fecha inicio:</b> {{ activity.fecha_inicio | date:"MMMM d, y" }}</p>
                <p><b>Fecha fin:</b> {{ activity.fecha_fin | date:"MMMM d, y" }}</p>
                <p><b>Descripción:</b> {{ activity.descripcion }}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<!-- Modal Evento -->
<div class="modal fade" id="crearSala" tabindex="-1 " role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Crear Sala</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">

                <!---------------------Form------------------------------------------>
                <form (ngSubmit)="crearSala( f )" [formGroup]="forma2" #f="ngForm">

                    <div class="form-group">
                        <label for="nombre">Nombre</label>
                        <input type="text" id="nombre" formControlName="nombre" class="form-control" aria-describedby="text" placeholder="Nombre de la sala">
                        <div *ngIf="forma2.controls['nombre'].errors?.required && (forma2.dirty && forma2.touched) " class="form-control-feedback">
                            <p style="color: red ">*Nombre campo requerido.</p>
                        </div>
                        <div *ngIf="forma2.controls['nombre'].errors?.maxlength && forma2.controls['nombre'].dirty" class="form-control-feedback ">
                            <p style="color: red ">*Maximo 30 caracteres.</p>
                        </div>
                    </div>

                    <div class="form-group">
                        <p class="mb-0">Status</p>
                        <select formControlName="status" class="custom-select" id="status">
                            <option value="A">Activo</option>
                            <option value="I">Inactivo</option>
                        </select>
                        <div *ngIf="forma2.controls['status'].errors?.required && (forma2.dirty && forma2.touched)" class="form-control-feedback">
                            <p style="color: red ">*Status campo requerido.</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="descripcion">Ubicación</label>
                        <textarea class="form-control" id="descripcion" formControlName="ubicacion" placeholder="Ubicación de la sala" rows="2"></textarea>
                        <div *ngIf="forma2.controls['ubicacion'].errors?.required && (forma2.dirty && forma2.touched)" class="form-control-feedback ">
                            <p style="color: red ">*Ubicación campo requerido.</p>
                        </div>
                        <div *ngIf="forma2.controls['ubicacion'].errors?.maxlength && forma2.controls['ubicacion'].dirty" class="form-control-feedback ">
                            <p style="color: red ">*Maximo 30 caracteres.</p>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary" [disabled]="!forma2.valid">Submit</button>
                </form>
                <!---------------------Form------------------------------------------>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>