<div class="container main-container">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Hola {{ usuario.nombre }}!</h1>
            <p class="lead">Bienvenido a tú sección de eventos.</p>
        </div>
    </div>
    <div>
        <button class="btn btn-success" data-toggle="modal" data-target="#contrasenaModal">
            <i class="fas fa-key"></i> Cambiar contraseña
        </button>
    </div>
    <hr>
    <div class="mt-2" *ngIf="!mostrarA">
        <div class="alert alert-warning text-center" role="alert">
            <h2>No tienes eventos registrados.</h2>
        </div>
    </div>
    <div class="table-responsive mt-2" *ngIf="mostrarA">
        <h2>Mis Eventos</h2>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Fecha Inicio</th>
                    <th scope="col">Fecha Fin</th>
                    <th scope="col">Ubicación</th>
                    <th scope="col">Ver Actividades</th>
                    <th scope="col">Baja</th>
                </tr>
            </thead>
            <tbody class="thead-light">
                <tr *ngFor="let evento of eventos.records">
                    <th scope="row">1</th>
                    <td>{{ evento.nombre }}</td>
                    <td>{{ evento.fecha_inicio | date:"MMMM d, y" }}</td>
                    <td>{{ evento.fecha_fin | date:"MMMM d, y" }}</td>
                    <td>{{ evento.ubicacion }}</td>
                    <td><a class="btn btn-info" (click)="verActividades(evento.id_evento)"><i class="far fa-eye"></i></a></td>
                    <td><a class="btn btn-danger text-light" (click)="baja(usuario.id_usuario, evento.id_evento)"><i class="fas fa-arrow-down"></i></a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <hr>
    <div class="alert alert-warning" *ngIf="!mostrarB && mostrarA" role="alert">
        No tienes salas registradas.
    </div>
    <div class="table-responsive mt-2" *ngIf="mostrarB && mostrarA">
        <h2>Mis salas</h2>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre Sala</th>
                    <th scope="col">Evento</th>
                    <th scope="col">Actividad</th>
                    <th scope="col">Fecha Inicio</th>
                    <th scope="col">Fecha Fin</th>
                    <th scope="col">Ubicacion</th>
                    <th scope="col">Baja</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let usal of userSalas.records; let i = index;">
                    <th scope="row">{{ i + 1 }}</th>
                    <td>{{ usal.nombreSala }}</td>
                    <td>{{ usal.nombreEvento }}</td>
                    <td>{{ usal.nombreActividad }}</td>
                    <td>{{ usal.fecha_inicio | date:"MMMM d, y" }}</td>
                    <td>{{ usal.fecha_fin | date:"MMMM d, y" }}</td>
                    <td>{{ usal.ubicacion }}</td>
                    <td><a class="btn btn-danger text-light" (click)="baja2(usuario.id_usuario, usal.id_sala)"><i class="fas fa-arrow-down"></i></a></td>
                </tr>
            </tbody>
        </table>
    </div>

</div>

<!-- Modal cambiar contrasena-->


<div class="modal fade" id="contrasenaModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"><i class="fas fa-key"></i> Cambiar contraseña</h5>
                <a type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </a>
            </div>
            <div class="modal-body">
                <div class="modal-body">
                    <form [formGroup]="myGroup" (ngSubmit)="guardarContrasena(usuario.id_usuario)">
                        <div class="form-group">
                            <input class="form-control" type="password" formControlName="contrasena" name="contrasena" placeholder="Contraseña">
                            <div *ngIf="myGroup.controls['contrasena'].errors?.required && myGroup.controls['contrasena'].dirty" class="form-control-feedback">
                                <p style="color: red">*Campo requerido.</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="password" formControlName="contrasena2" name="contrasena2" placeholder="Repetir contraseña">
                        </div>
                        <div *ngIf="myGroup.controls['contrasena2'].errors?.required && myGroup.controls['contrasena2'].dirty" class="form-control-feedback">
                            <p style="color: red">*Campo requerido.</p>
                        </div>
                        <div *ngIf="myGroup.controls['contrasena2'].errors?.noiguales && myGroup.controls['contrasena2'].dirty" class="form-control-feedback">
                            <p style="color: red">*No coinciden las contraseñas.</p>
                        </div>
                        <button class="btn btn-primary" [disabled]="!myGroup.valid">Guardar</button>

                    </form>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>