<div class="container main-container">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Hola {{ usuario.nombre }}!</h1>
            <p class="lead">Bienvenido a tú sección de eventos.</p>
        </div>
    </div>
    <div class="mt-2" *ngIf="!mostrarA">
        <div class="alert alert-warning text-center" role="alert">
            <h2>No tienes eventos registrados.</h2>
        </div>
    </div>
    <div class="table-responsive mt-2" *ngIf="mostrarA">
        <h2>Mis Eventos</h2>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Fecha Inicio</th>
                    <th scope="col">Fecha Fin</th>
                    <th scope="col">Ubicación</th>
                    <th scope="col">Ver Actividades</th>
                </tr>
            </thead>
            <tbody class="thead-light">
                <tr *ngFor="let evento of eventos.records">
                    <th scope="row">1</th>
                    <td>{{ evento.nombre }}</td>
                    <td>{{ evento.fecha_inicio | date:"MMMM d, y" }}</td>
                    <td>{{ evento.fecha_fin | date:"MMMM d, y" }}</td>
                    <td>{{ evento.ubicacion }}</td>
                    <td><a class="btn btn-info" (click)="verActividades(evento.id_evento)"><i class="far fa-eye"></i></a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <hr>
    <div class="alert alert-warning" *ngIf="!mostrarB && mostrarA" role="alert">
        No tienes salas registradas.
    </div>
    <div class="table-responsive mt-2" *ngIf="mostrarB && mostrarA">
        <h2>Mis salas</h2>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre Sala</th>
                    <th scope="col">Evento</th>
                    <th scope="col">Actividad</th>
                    <th scope="col">Fecha Inicio</th>
                    <th scope="col">Fecha Fin</th>
                    <th scope="col">Ubicacion</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let usal of userSalas.records; let i = index;">
                    <th scope="row">{{ i + 1 }}</th>
                    <td>{{ usal.nombreSala }}</td>
                    <td>{{ usal.nombreEvento }}</td>
                    <td>{{ usal.nombreActividad }}</td>
                    <td>{{ usal.fecha_inicio | date:"MMMM d, y" }}</td>
                    <td>{{ usal.fecha_fin | date:"MMMM d, y" }}</td>
                    <td>{{ usal.ubicacion }}</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>