<div class="limiter">

    <div class="container-login100">
        <div class="wrap-login100 p-t-20 p-b-90">
            <span class="login100-form-title p-b-20">Iniciar sesión</span>


            <!-- Formulario registrar externo -->
            <form (ngSubmit)="logIn()" [formGroup]="forma" class="login100-form validate-form flex-sb flex-w">

                <div class="col">
                    <div class="wrap-input100 validate-input m-b-5" [ngClass]="{'alert-validate': forma.controls['correo'].errors?.required && (forma.dirty && forma.touched)}" data-validate="Campo requerido">
                        <input class="input100" type="email" formControlName="correo" name="correo" placeholder="Correo">
                        <span class="focus-input100 "></span>
                    </div>
                    <div *ngIf="forma.controls['correo'].errors?.maxlength && forma.controls['correo'].dirty" class="form-control-feedback">
                        <p style="color: red">*Maximó 50 caracteres.</p>
                    </div>
                    <div *ngIf="forma.controls['correo'].errors?.pattern && forma.controls['correo'].dirty" class="form-control-feedback">
                        <p style="color: red">*Formato de correo erróneo.</p>
                    </div>
                </div>


                <div class="wrap-input100 validate-input m-b-5" [ngClass]="{'alert-validate': forma.controls['contrasena'].errors?.required && (forma.dirty && forma.touched)}" data-validate="Campo requerido">
                    <input class="input100" type="password" formControlName="contrasena" name="contrasena" placeholder="Contraseña">
                    <span class="focus-input100"></span>
                </div>


                <div class="flex-sb-m w-full p-t-3 p-b-5">
                    <div>
                        <a [routerLink]="['/registro']" class="txt1">Crear una cuenta</a>
                    </div>
                </div>

                <div class="container-login100-form-btn m-t-5">
                    <button class="login100-form-btn" [disabled]="!forma.valid">Iniciar sesión</button>
                </div>

            </form>

        </div>
    </div>
</div>