<div class="container main-container">
    <div class="alert alert-success text-center" role="alert">
        <b><h2>Evento: {{event.nombre}}</h2></b> <br>
        <button type="button" class="btn btn-danger btn-lg btn-block" data-toggle="modal" data-target="#watchEvent">
            Ver evento
        </button>
    </div>
    <div class="row mb-1">
        <div class="col text-center">
            <button type="button" class="btn btn-info mr-3" (click)="return()">
                Regresar a evento
            </button>
            <button type="button" class="btn btn-info" *ngIf="!edit" (click)="editar()">
                Editar Evento
            </button>
            <button type="button" class="btn btn-danger" *ngIf="edit" (click)="noeditar()">
                Ocultar formulario de edición
            </button>
            <button type="button" class="btn btn-info ml-3" data-toggle="modal" data-target="#crearActividad">
                Crear Actividad
            </button>
        </div>
    </div>
    <div class="mb-5" *ngIf="edit">
        <form (ngSubmit)="updateEvento( f )" [formGroup]="forma" #f="ngForm">
            <h3>Editar Evento</h3>
            <div class="form-group">
                <label for="nombre">Nombre</label>
                <input type="text" class="form-control" id="nombre" formControlName="nombre" aria-describedby="text" placeholder="Nombre Del Evento">
                <div *ngIf="forma.controls['nombre'].errors?.required && (forma.dirty && forma.touched) " class="form-control-feedback">
                    <p style="color: red ">*Nombre campo requerido.</p>
                </div>
                <div *ngIf="forma.controls['nombre'].errors?.maxlength && forma.controls['nombre'].dirty" class="form-control-feedback ">
                    <p style="color: red ">*Maximo 30 caracteres.</p>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <label for="costo">Fecha Inicio</label>
                    <input type="text" formControlName="fecha_inicio" class="form-control" id="fecha_inicio" aria-describedby="number" placeholder="YYYY-MM-DD">
                    <div *ngIf="forma.controls['fecha_inicio'].errors?.required && (forma.dirty && forma.touched) " class="form-control-feedback">
                        <p style="color: red ">*Fecha Inicio campo requerido.</p>
                    </div>
                    <div *ngIf="forma.controls['fecha_inicio'].errors?.dateVaidator && (forma.dirty && forma.touched) " class="form-control-feedback">
                        <p style="color: red ">*Formato de fecha incorrecto. Año-Mes-Día</p>
                    </div>
                </div>
                <div class="col">
                    <label for="costo">Fecha Fin</label>
                    <input type="text" class="form-control" formControlName="fecha_fin" placeholder="YYYY-MM-DD" id="fecha_fin" aria-describedby="number">
                    <div *ngIf="forma.controls['fecha_fin'].errors?.required && (forma.dirty && forma.touched) " class="form-control-feedback">
                        <p style="color: red ">*Fecha Fin campo requerido. Año-Mes-Día</p>
                    </div>
                    <div *ngIf="forma.controls['fecha_fin'].errors?.dateVaidator && (forma.dirty && forma.touched) " class="form-control-feedback">
                        <p style="color: red ">*Formato de fecha incorrecto.</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <label for="costo">Costo</label>
                    <input type="text" class="form-control" formControlName="costo" pattern="^[0-9]+" id="costo" aria-describedby="number" placeholder="Costo">
                    <div *ngIf="forma.controls['costo'].errors?.required && (forma.dirty && forma.touched) " class="form-control-feedback ">
                        <p style="color: red ">*Costo campo requerido.</p>
                    </div>
                    <div *ngIf="forma.controls['costo'].errors?.maxlength && forma.controls['costo'].dirty" class="form-control-feedback ">
                        <p style="color: red ">*Maximo 5 digitos.</p>
                    </div>
                    <div *ngIf="forma.controls['costo'].errors?.pattern && forma.controls['costo'].dirty" class="form-control-feedback ">
                        <p style="color: red ">*Solo se permiten digitos.</p>
                    </div>
                    <div *ngIf="forma.controls['costo'].errors?.noCeros && forma.controls['costo'].dirty" class="form-control-feedback ">
                        <p style="color: red ">*No se puede poner 0 como valor.</p>
                    </div>
                </div>
                <div class="col">
                    <p class="mb-0">Status</p>
                    <select formControlName="status" class="custom-select" id="status">
                        <option value="A">Activo</option>
                        <option value="I">Inactivo</option>
                    </select>
                    <div *ngIf="forma.controls['status'].errors?.required && (forma.dirty && forma.touched || !forma.valid)" class="form-control-feedback ">
                        <p style="color: red ">*Status campo requerido.</p>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="descripcion">Ubicación</label>
                <textarea class="form-control" id="descripcion" formControlName="ubicacion" placeholder="Ubicación" rows="2"></textarea>
                <div *ngIf="forma.controls['ubicacion'].errors?.required && (forma.dirty && forma.touched)" class="form-control-feedback ">
                    <p style="color: red ">*Ubicación campo requerido.</p>
                </div>
                <div *ngIf="forma.controls['ubicacion'].errors?.maxlength && forma.controls['ubicacion'].dirty" class="form-control-feedback ">
                    <p style="color: red ">*Maximo 30 caracteres.</p>
                </div>
            </div>
            <div class="form-group">
                <label for="descripcion">Descripción</label>
                <textarea class="form-control" id="descripcion" formControlName="descripcion" placeholder="Descripción del evento" rows="2"></textarea>
                <div *ngIf="forma.controls['descripcion'].errors?.required && (forma.dirty && forma.touched)" class="form-control-feedback">
                    <p style="color: red ">*Descripción campo requerido.</p>
                </div>
                <div *ngIf="forma.controls['descripcion'].errors?.maxlength && forma.controls['descripcion'].dirty" class="form-control-feedback">
                    <p style="color: red ">*Maximo 200 caracteres.</p>
                </div>
            </div>
            <button type="submit" class="btn btn-primary" [disabled]="!forma.valid">Submit</button>
        </form>

    </div>
    <div class="mt-2" *ngIf="mostrarA">
        <h2>Actividades</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Fecha Inicio</th>
                    <th scope="col">Fecha Fin</th>
                    <th scope="col">Editar</th>
                    <th scope="col">Eliminar</th>
                </tr>
            </thead>
            <tbody *ngFor="let actividad of actividades.records let i = index;">
                <tr>
                    <th scope="row ">{{i+1}}</th>
                    <td>{{ actividad.nombre }}</td>
                    <td>{{ actividad.fecha_inicio | date:"dd/MMMM/yy"}}</td>
                    <td>{{ actividad.fecha_fin | date:"dd/MMMM/yy"}}</td>
                    <td><a class="btn btn-warning" (click)="editarActividad(actividad.id_actividad)"><i class="fas fa-edit"></i></a></td>
                    <td><a class="btn btn-danger" (click)="eliminarActividad(actividad.id_actividad)"><i class="fas fa-trash"></i></a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="mt-2" *ngIf="!mostrarA">
        <div class="alert alert-warning text-center" role="alert">
            <h3>Evento sin actividades registradas.</h3>
        </div>
    </div>
</div>



<!-- Modal Evento -->
<div class="modal fade" id="crearActividad" tabindex="-1 " role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Crear Actividad</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">

                <!---------------------Form------------------------------------------>
                <form (ngSubmit)="crearActividad( f )" [formGroup]="forma2" #f="ngForm">

                    <div class="form-group">
                        <label for="nombre">Nombre</label>
                        <input type="text" id="nombre" formControlName="nombre" class="form-control" aria-describedby="text" placeholder="Nombre de la actividad">
                        <div *ngIf="forma2.controls['nombre'].errors?.required && (forma2.dirty && forma2.touched)" class="form-control-feedback">
                            <p style="color: red ">*Nombre campo requerido.</p>
                        </div>
                        <div *ngIf="forma2.controls['nombre'].errors?.maxlength && forma2.controls['nombre'].dirty" class="form-control-feedback ">
                            <p style="color: red ">*Maximo 30 caracteres.</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <label for="fecha_inicio">Fecha Inicio</label>
                            <input type="text" id="fecha_inicio" class="form-control" formControlName="fecha_inicio" aria-describedby="number" placeholder="YYYY-MM-DD">
                            <div *ngIf="forma2.controls['fecha_inicio'].errors?.required && (forma2.dirty && forma2.touched)" class="form-control-feedback">
                                <p style="color: red ">*Fecha Inicio campo requerido.</p>
                            </div>
                            <div *ngIf="forma2.controls['fecha_inicio'].errors?.dateVaidator && (forma2.dirty && forma2.touched)" class="form-control-feedback">
                                <p style="color: red ">*Formato de fecha incorrecto. Año-Mes-Día</p>
                            </div>
                        </div>
                        <div class="col">
                            <label for="fecha_fin">Fecha Fin</label>
                            <input type="text" id="fecha_fin" class="form-control" placeholder="YYYY-MM-DD" formControlName="fecha_fin" aria-describedby="number">
                            <div *ngIf="forma2.controls['fecha_fin'].errors?.required && (forma2.dirty && forma2.touched)" class="form-control-feedback">
                                <p style="color: red ">*Fecha Fin campo requerido.</p>
                            </div>
                            <div *ngIf="forma2.controls['fecha_fin'].errors?.dateVaidator && (forma2.dirty && forma2.touched)" class="form-control-feedback">
                                <p style="color: red ">*Formato de fecha incorrecto. Año-Mes-Día</p>
                            </div>
                        </div>
                    </div>

                    <div class="form-group ">
                        <label for="descripcion">Descripción</label>
                        <textarea class="form-control" id="descripcion" formControlName="descripcion" rows="2" placeholder="Descripción del evento"></textarea>
                        <div *ngIf="forma2.controls['descripcion'].errors?.required && (forma2.dirty && forma2.touched)" class="form-control-feedback">
                            <p style="color: red ">*Descripción campo requerido.</p>
                        </div>
                        <div *ngIf="forma2.controls['descripcion'].errors?.maxlength && forma2.controls['descripcion'].dirty" class="form-control-feedback">
                            <p style="color: red ">*Maximo 200 caracteres.</p>
                        </div>

                    </div>

                    <button type="submit" class="btn btn-primary" [disabled]="!forma2.valid">Submit</button>
                </form>
                <!---------------------Form------------------------------------------>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal watch event -->
<div class="modal fade" id="watchEvent" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Evento: {{event.nombre}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body text-center text-justify">
                <p><b>Fecha inicio:</b> {{ event.fecha_inicio | date:"MMMM d, y" }}</p>
                <p><b>Fecha fin:</b> {{ event.fecha_fin | date:"MMMM d, y" }}</p>
                <p><b>Ubicación:</b> {{ event.ubicacion }}</p>
                <p><b>Costo:</b> ${{ event.costo }}</p>
                <p><b>Status:</b> {{ event.estado }}</p>
                <p><b>Descripción:</b> {{ event.descripcion }}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>