<div class="container main-container">
    <div class="alert alert-secondary text-center" role="alert">
        <h2>Sala: {{sala.nombre}}</h2><br>
        <button type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#watchSala">
            Ver sala
        </button>
    </div>
    <div class="row mb-1">
        <div class="col text-center">
            <button type="button" class="btn btn-primary mr-3 m-2" (click)="return()">
                Regresar
            </button>
            <button type="button" *ngIf="!edit" class="btn btn-primary m-2" (click)="editar()">
                Editar Sala
            </button>
            <button type="button" *ngIf="edit" class="btn btn-danger m-2" (click)="noeditar()">
                Ocultar formulario de edición
            </button>
        </div>
    </div>
    <div class="mb-5" *ngIf="edit">
        <form (ngSubmit)="updateSala( f )" [formGroup]="forma" #f="ngForm">
            <h3>Editar Evento</h3>
            <div class="form-group">
                <label for="nombre">Nombre</label>
                <input type="text" class="form-control" id="nombre" formControlName="nombre" aria-describedby="text" placeholder="Nombre de la sala">
                <div *ngIf="forma.controls['nombre'].errors?.required && (forma.dirty && forma.touched) " class="form-control-feedback">
                    <p style="color: red ">*Nombre campo requerido.</p>
                </div>
                <div *ngIf="forma.controls['nombre'].errors?.maxlength && forma.controls['nombre'].dirty" class="form-control-feedback ">
                    <p style="color: red ">*Maximo 30 caracteres.</p>
                </div>
            </div>
            <div class="form-group">
                <input type="hidden" class="form-control" id="id_actividad" formControlName="id_actividad" aria-describedby="text">
            </div>
            <div class="form-group">
                <p class="mb-0">Status</p>
                <select formControlName="status" class="custom-select" id="status">
                    <option value="A">Activo</option>
                    <option value="I">Inactivo</option>
                </select>
                <div *ngIf="forma.controls['status'].errors?.required && (forma.dirty && forma.touched)" class="form-control-feedback">
                    <p style="color: red ">*Status campo requerido.</p>
                </div>
            </div>
            <div class="form-group">
                <label for="descripcion">Ubicación</label>
                <textarea class="form-control" id="descripcion" formControlName="ubicacion" placeholder="Ubicación de la sala" rows="2"></textarea>
                <div *ngIf="forma.controls['ubicacion'].errors?.required && (forma.dirty && forma.touched)" class="form-control-feedback ">
                    <p style="color: red ">*Ubicación campo requerido.</p>
                </div>
                <div *ngIf="forma.controls['ubicacion'].errors?.maxlength && forma.controls['ubicacion'].dirty" class="form-control-feedback ">
                    <p style="color: red ">*Maximo 30 caracteres.</p>
                </div>
            </div>

            <button type="submit" class="btn btn-primary" [disabled]="!forma.valid">Guardar</button>
        </form>

    </div>
    <div class="alert alert-warning" *ngIf="!mostrarU" role="alert">
        Esta sala no tiene usuarios registrados.
    </div>
    <div class="row" *ngIf="mostrarU">
        <div class="col-6">
            <h2>Usuarios registrados.</h2>
        </div>
        <div class="col-6">
            <a style="cursor: pointer;" class="text-success" (click)="exportexcel()">
                <i class="fas fa-file-download fa-2x"></i> Descargar Lista
            </a>
        </div>
    </div>
    <div class="table-responsive mt-2" *ngIf="mostrarU" id="excel-table">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellidos</th>
                    <th scope="col">Email</th>
                    <th scope="col">Tipo</th>
                    <th scope="col">Dar de baja</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let usal of usuarios.records; let i = index;">
                    <th scope="row">{{i + 1}}</th>
                    <td>{{ usal.nombreUsuario }}</td>
                    <td>{{ usal.apellidos }}</td>
                    <td>{{ usal.correo }}</td>
                    <span [ngSwitch]="usal.rol_usuario">
                        <p *ngSwitchCase="'U'">
                            <td>Alumno</td>
                        </p>
                        <p *ngSwitchCase="'P'">
                            <td>Personal</td>
                        </p>
                        <p *ngSwitchDefault>
                            <td>Externo</td>
                        </p>
                    </span>
                    <td><a class="btn btn-danger text-light" (click)="baja(usal.id_usuario, usal.id_sala)"><i class="fas fa-arrow-down"></i></a></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- Modal watch sala -->
<div class="modal fade" id="watchSala" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Sala: {{sala.nombre}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body text-center text-justify">
                <p><b>Ubicación:</b> {{ sala.ubicacion }}</p>
                <p><b>Status:</b> {{ sala.estado }}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>